
.Flex-Sobremim {
    margin-top: 0px;
    padding: 0px;
    display: flex;
    align-items: baseline;
    justify-content: center;

    background-color: white;
    padding-bottom: 50px;
    margin-bottom: 0px;

    
}

.SobreMim-Imagem{
    align-items: center;
    background-color: #006bb7   ;
    margin-right: 30px;
    display: block;
    
}

.SobreMim-Texto{
    
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
}

.teste{
    width: 302px;
    height: 517px;
    border-radius: 50px;
}

.ButtonMensage{
    background-color: blue;
}

.ButtonSend {
 
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  height: 50px;
  justify-content: center;
  overflow: visible;
  padding: 0px;
  position: relative;
  width: 50%;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  background-color: #570E04;;
  font-weight: bold;
  font-size: 20px;
}






.teste{
   
    align-content: flex-end;
    justify-content:center;
}


.flexvantagens{
    margin-top: 0px;
    background-color: #EBEBEB;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    padding: 0px;
    min-height: 38vh;
    
    
}

.imagevantagem{
    align-items: center;
    width: 50px;
    height: 50px;
   
}
.vantagens {
    display: flex;
    flex-direction: column; /* Empilha itens verticalmente */
    align-items: center;    /* Centraliza horizontalmente */
    text-align: center;     /* Se quiser também alinhar o texto */
}
.imagevantagem{
    align-items: center;
    width: 50px;
    height: 50px;
   
}