<!--

This is the footer menu component. It is used to display the footer menu of the application.
-->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>BlazorApp1</h3>
                <p>BlazorApp1 is a sample application built with Blazor WebAssembly.</p>
            </div>
            <div class="col-md-4">
                <h3>Links</h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="counter">Counter</a></li>
                    <li><a href="weather">Weather</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Contact</h3>
                <p>Email:
                    <a href="mailto: [email protected]"> [email protected]</a>
                </p>
            </div>
        </div>
    </div>
</div>


@code {

}
