<nav class="my-nav">
    <div class="nav-container">
        <!-- Logo fixa no canto esquerdo -->
        <img class="Imagelogo" src="images/logo.jpg" alt="Logo" />

        <!-- Checkbox que controla o menu (hambúrguer) -->
        <input type="checkbox" id="menu-toggle" />

        <!-- Botão hambúrguer (fica no canto direito no mobile) -->
        <label for="menu-toggle" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <!-- Menu centralizado no desktop -->
        <ul class="nav-menu">
            <li><a class="nav-link" href="#">Início</a></li>
            <li><a class="nav-link" href="#about">Quem Sou Eu</a></li>
            <li><a class="nav-link" href="#sintomas">Sinais e Sintomas</a></li>
            <li><a class="nav-link" href="#abordagem">Minha Abordagem Terapêutica</a></li>
            <li><a class="nav-link" href="#faq">Dúvidas Frequentes</a></li>
            <li><a class="nav-link" href="#horario">Horários de Atendimento</a></li>
        </ul>
    </div>
</nav>
