.aboreto-regular {
    font-family: "Aboreto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.Flex-Sobremim {
    margin-top: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: white;
    padding-bottom: 50px;
    margin-bottom: 0px;

    
}

.SobreMim-Imagem{
    align-items: center;
    background-color: #006bb7   ;
    margin-right: 30px;
    display: block;
    
}

.SobreMim-Texto{

    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.TextoH1{
    font-family: ';
    color: #B5BF69;
}
.teste{
    width: 302px;
    height: 517px;
    border-radius: 50px;
}

.ButtonMensage{
    background-color: blue;
}

.ButtonSend {
 
  height: 50px;
  padding: 0px;
  width: 50%;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  background-color: #570E04;;
  font-weight: bold;
  font-size: 20px;
}






.teste{
   
    align-content: flex-end;
    justify-content:center;
}



