@page "/"
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">

<nav class="my-nav">
  <div class="nav-container">
     <img class="Imagelogo" src="images/logo.jpg" alt="logo" />
    <ul class="nav-menu">
      <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Serviços</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Contato</a></li>
    </ul>
  </div>
</nav>


<div Href="/sobre-mim" class="Flex-Aboutme"> 
    <div class="Aboutme-Image">
        <img class="ImageAbout" src="images/ceci1.jpg" alt="Ceciimg1" />
    </div>
    <div class="Aboutme-Text">
        <h1 class = "TextH1">MARIA CECILIA FERREIRA LUZ</h1>
        <p class = "TextName">PSICÓLOGA ONLINE | CRP:1234567</p>
        <p class = "TextDesc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Curabitur sit amet mi non urna faucibus sollicitudin ac at turpis.
        </p>
        <button class ="ButtonSend">Agendar Consulta Online</button>

    </div>

</div>
<div class="features-container">
    <div class="feature-card">
        <h3>ATENDIMENTO ONLINE</h3>
        <p>Você não precisa se locomover até o consultório, <strong>isso te poupa tempo</strong> e permite maior flexibilidade de horários.</p>
    </div>
 
    <div class="feature-card">
 
        <h3>LIBERDADE GEOGRÁFICA</h3>
        <p>Você pode realizar as sessões de terapia de onde quer que esteja, desde que seja em um <strong>ambiente confortável.</strong></p>
    </div>
 
    <div class="feature-card">
        <h3>SIGILO E SEGURANÇA</h3>
        <p>Assim como na terapia presencial, a terapia online é sigilosa e é realizada em uma <strong>plataforma segura.</strong></p>
    </div>
</div>
