@page "/"

<PageTitle>Sobre Mim</PageTitle>

<style>
    /* Aplica ao body dessa página */
    body {
     
    }

 
    .Flex-Sobremim {
        background-color: #f5f5f5;
    }
</style>

<h1>Sobre Mim!</h1>

<div class="Flex-Sobremim"> 
    <div class="SobreMim-Imagem">
       <img  class ="teste" src="images/download.jpg" alt="Paulo Sérgio" />
    </div>
    <div class="SobreMim-Texto">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas facilisis ex non cursus convallis. Nullam sollicitudin in ipsum in egestas. Vivamus tempus metus in iaculis lobortis. Duis interdum metus eu tortor efficitur dictum. Donec placerat gravida accumsan. Quisque laoreet metus non porta ornare. Donec faucibus mauris eget malesuada sollicitudin. Quisque semper scelerisque auctor. Suspendisse efficitur placerat sem quis posuere. Suspendisse suscipit, leo a consequat auctor, arcu ante placerat risus, eget sollicitudin quam ipsum eu nibh. Aenean aliquet diam mi, quis commodo mauris vulputate eu. Pellentesque non viverra erat, feugiat cursus nisl. In maximus tempor justo, a pellentesque quam ultricies quis. Ut at sodales purus.</p>
    </div>
</div>
