@page "/"
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">



<div class="Flex-Sobremim"> 
    <div class="SobreMim-Imagem">
        <img class="teste" src="images/download.jpg" alt="Paulo Sérgio" />
    </div>
    <div class="SobreMim-Texto">
        <h1>MARIA CECILIA FERREIRA LUZ</h1>
        <p >PSICÓLOGA ONLINE | CRP:1234567</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Curabitur sit amet mi non urna faucibus sollicitudin ac at turpis.
        </p>
        <button class ="ButtonSend">Agendar Consulta Online</button>

    </div>



</div>

<div class="flexvantagens">
    <div class="vantagens">
        <image src ="images\vantagem.png" class ="imagevantagem"></image>
        <h2>Vantagens</h2>
        <p>Atendimento Online</p>
        <p>Atendimento Presencial</p>
        <p>Atendimento em Domicílio</p>
        <p>Atendimento em Empresas</p>
    </div>
    <div class="vantagens">
        <h2>Horários</h2>
        <p>Segunda a Sexta: 08:00 às 18:00</p>
        <p>Sábado: 08:00 às 12:00</p>
        <p>Domingo: Fechado</p>
    </div>
    <div class="vantagens">
        <image src ="images\contato.png" class ="imagevantagem"></image>
        <h2>Contato</h2>
        <p>Telefone: (11) 99999-9999</p>
        <p>Email: teste@Email</p>
    </div>
</div>
